<div class="timeline-wrapper container-fluid">
    <div class="row  justify-content-center">
        <div class="timeline inactive col-md-3 col-sm-12">EarlyBird <span class="btn-so">SOLD OUT</span></div>
        <div class="timeline mt active col-md-3 col-sm-12">Summer Saver <i class="flaticon-clock"></i>
            <div class="btn-date">UNTIL <br><span>AUG 31</span></div>
        </div>
        <div class="timeline inactive col-md-4 col-sm-12">Regular / Last / Onsite Registration</div>
    </div>
</div>
