@import "~scss/colours";

.timeline-wrapper {
  color: $blue;
  margin: 0 auto;
  margin-top: 2.5rem;
  .timeline {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 15px;
    font-size: 13px;
    &.mt {
      margin-top: -6px;
    }
    &.active {
      font-weight: bold;
      &:before {
        content: '/';
        padding-right: 10px;
      }
      &:after {
        content: '/';
        padding-left: 10px;
      }
    }

    &.inactive {
      opacity: 0.3;
    }

    .btn-so {
      background-color: $blue;
      color: #fff;
      padding: 0.05rem 0.5rem;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      font-size: 10px;
    }
    .flaticon-clock {
      color: $dark;
    }
    .btn-date {
      display: inline-block;
      color: $dark;
      text-align: left;
      font-size: 11px;
      line-height: 1;
      padding-bottom: 15px;
      span {
        color: $red;
      }
    }
  }
}

@media (max-width: 574px) {
  .timeline-wrapper {
    .timeline {
      padding: 1px;

      &.mt {
        margin: 0;
      }
    }
  }
}

