@import "~scss/colours";
@import "~scss/variables";

.nav-wrapper {
  height: 92px;
  line-height: 92px;
  padding: 0;
  background-color: $light;
  @include box-shadow;

  ul {
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      position: relative;
      a {
        font-weight: 200;
        color: darken($light, 30%);

        position: relative;
        &:hover, &:focus {
          text-decoration: none;
          color: $blue;
          &:after {
            content: '';
            border: 1em solid;
            border-color: transparent transparent $light $light;
            transform-origin: 0 0;
            transform: rotate(-45deg);
            position: absolute;
            bottom: -65px;
            left: 45%;
            @include box-shadow


          }
        }
      }
    }
  }
}

@media screen and(max-width: 575px) {
  .nav-wrapper {
    line-height: 1;
    padding-top: 1.5rem;
    ul {
      margin: 0;
      padding: 0 15px;

      li {
        font-size: 14px;
        [class^="flaticon-"]:before {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
}
