<div class="nav-wrapper">
  <ul class="row justify-content-md-center">
    <li class="col-3"><a href=""><i class="flaticon-single"></i> SINGLE ATTENDEES</a></li>
    <li class="col-3"><a href=""><i class="flaticon-group"></i> GROUP TICKETS</a></li>
    <li class="col-3"><a href=""><i class="flaticon-investors"></i> INVESTORS</a></li>
    <li class="col-3"><a href=""><i class="flaticon-startup"></i> STARTUPS</a></li>
  </ul>
</div>
