<header>
  <div class="hrn-logo">
    <img src="assets/logo-date.png" alt="HR Tech Logo with Dates">
  </div>
</header>
<main>
  <hrn-nav></hrn-nav>
  <hrn-timeline></hrn-timeline>
  <div class="container spacer">
    <div class="col-lg-6 col-sm-12 ticket-details">
      Fashion axe keytar truffaut migas Farm-to-table PBR&B. Drinking vinegar sustainable helvetica sartorial.
      Dreatmcatcher live-edge lo-fi, chartreuse echo park pinterest distillery glossier plaid fingerstache.
      Fashion
      axe keytar truffaut migas Farm-to-table PBR&B. Drinking vinegar sustainable helvetica
    </div>
    <div class="row spacer-4">
      <div class="col-md-3">
        <hrn-ticket [open]="ticketOpen" [ticketHeader]="'Summer Saver'" [ticketAmount]="'€1595'"
                    [ticketMeta]="'Save €300'" [ticketDate]="'Until August 2017'"
                    [ticketDetails]="firstTicket"></hrn-ticket>
      </div>
      <div class="col-md-3">
        <hrn-ticket [open]="ticketOpen" [isSpecial]="true" [ticketHeader]="'Expo Only'" [ticketAmount]="'€299'"
                    [ticketMeta]="''" [ticketDate]="'Until October'" [ticketDetails]="firstTicket"></hrn-ticket>
      </div>
      <div class="col-md-3">
        <hrn-ticket [open]="ticketOpen" [ticketHeader]="'Public & Governmental Sector'" [ticketAmount]="'€1295'"
                    [ticketMeta]="'Save €300 from the Summer Saver'" [ticketDate]="'Until October'"
                    [ticketDetails]="firstTicket"></hrn-ticket>
      </div>
      <div class="col-md-3">
        <hrn-ticket [open]="ticketOpen" [ticketHeader]="'Standard Conference & Expo'" [ticketAmount]="'€1695'"
                    [ticketMeta]="'Do you have a promo code'" [ticketDate]="'DAY01/DAY02 OR BOTH'"
                    [ticketDetails]="firstTicket"></hrn-ticket>
      </div>
    </div>

    <div class="row spacer">
      <button class="toggle-btn" (click)="toggleCompare()"> COMPARE BENEFITS</button>
    </div>
    <div class="partners-container container-fluid">
      <div class="h3">OUR TRUSTED PARTNERS</div>
      <div class="row justify-content-center">
        <div class="partner-logo col-3 col-md-2"><img src="../assets/logo_workday.png" alt="Partner's logo"></div>
        <div class="partner-logo col-3  col-md-2"><img src="../assets/logo_workday.png" alt="Partner's logo"></div>
        <div class="partner-logo col-3 col-md-2"><img src="../assets/logo_workday.png" alt="Partner's logo"></div>
        <div class="partner-logo col-3  col-md-2"><img src="../assets/logo_workday.png" alt="Partner's logo"></div>
        <div class="partner-logo col-3  col-md-2"><img src="../assets/logo_workday.png" alt="Partner's logo"></div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/logo.png" alt="HR Tech Logo"/>
    </div>
    <ul class="footer-menu">
      <li>HRN</li>
      <li>ABOUT</li>
      <li>TEAM</li>
      <li>JOBS</li>
      <li>CONTACT</li>
    </ul>
    <div class="footer-social">
      <i class="flaticon-twitter-social-logotype"></i>
      <i class="flaticon-linkedin-logo"></i>
      <i class="flaticon-facebook-logo"></i>
      <i class="flaticon-instagram"></i>
      <i class="flaticon-youtube-symbol"></i>
    </div>
    <div class="footer-copyright">HRN | Terms & Conditions | Cookie Policy | Copyright &copy; 2015 HRN Europe. All
      Rights Reserved
    </div>
  </div>
</footer>

