@import "~scss/colours";

header {
  background-color: $dark;
  padding: 1rem 2rem;
}

.hrn-logo img {
  width: 200px;
}

.ticket-details {
  margin: auto;
  text-align: center;
}

.toggle-btn {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  padding: 10px 50px;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.partners-container {
  margin-top: 2rem;
  margin-bottom: 3rem;

  .h3 {
    text-align: center;
    color: lighten($font-color, 35%);
  }
  .partner-logo {
    margin-top: 1.3rem;
    margin-right: 1.5rem;
  }
}

footer {
  background-color: $dark;
  color: #fff;
  padding: 1.8rem 1rem 0.5rem 1rem;
  text-align: center;

  .footer-content {
    max-width: 700px;
    margin: 0 auto;
    .footer-logo {
      margin-bottom: 2rem;
    }
    .footer-menu {
      margin-bottom: 2rem;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        padding: 0 0.6rem;
        opacity: 0.75;
      }
    }
    .footer-copyright {
      font-size: 12px;
      opacity: 0.75;
    }
    .footer-social {
      margin-bottom: 1.5rem;
      font-size: 1.5em;
      i {
        padding: 0 0.75rem
      }
    }
  }
}

@media screen and(max-width: 575px) {
  .partners-container .partner-logo {
    margin: 0;
    padding: 0;
    margin-top:20px;
    &:nth-child(even) {
      margin-left:30px;
      margin-right:30px;
    }
    img {
      width: 80px;
    }
  }
}
