@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');
@import "~vendor/css/icon.css";
@import "~scss/colours";

body {
  font-family: 'Roboto', sans-serif !important;
  color: $font-color;
}

.spacer {
  margin-top: 3rem;
}

.spacer-4 {
  margin-top: 4rem;
}

.ticket-desc {
  text-align: left;
  margin-top: 3rem;
  padding: 5px 10px;
  ul {
    margin: 0;
    padding-left: 20px;
    > li {

      margin-bottom: 15px;
    }
  }
}
