<div class="ticket-wrapper" [ngClass]="{'open':open,'':!open ,'special':isSpecial}">
  <div class="ticket-inner">
    <div class="ticket-special" *ngIf="isSpecial">MOST POPULAR</div>
    <div class="ticket-header">{{ticketHeader}}</div>
    <div class="ticket-amount">{{ticketAmount}}</div>
    <div class="ticket-meta">{{ticketMeta}}</div>
    <div class="ticket-date">{{ticketDate}}</div>
    <div class="ticket-desc">
      <ul [innerHtml]="ticketDetails">
      </ul>
    </div>
  </div>
  <div class="ticket-book" [ngClass]="{'red':isSpecial}">BOOK NOW</div>
</div>
