@import "~scss/colours";
@import "~scss/variables";

.ticket-wrapper {
  height: 240px;
  text-align: center;
  background-color: $light;
  margin-bottom:2rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  @include box-shadow;
  position: relative;
  overflow: hidden;
  .ticket-inner {
    padding: 15px 5px;
    .ticket-header {
      font-weight: 700;
      color: $blue;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-size: 14px;
    }
    .ticket-amount {
      font-size: 46px;
      font-weight: 700;
      color: $blue;
    }
    .ticket-date {
      font-size: 90%;
      color: $blue;
    }
    .ticket-meta {
      font-weight: 200;
      font-size: 12px;
    }
    .ticket-special {
      font-size:14px;
      color: $red;
      font-weight: 700;
    }
  }
  .ticket-book {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-align: center;
    background-color: $blue;
    &.red {
      background-color: $red;
    }
  }

  &.open {
    height: 580px;
  }

  &.special {
    margin-top: -10px;
    height: 260px;
    &.open {
      height: 630px !important;
    }
  }

}

